numpy==1.16.1
pandas==0.24.2
scipy==1.2.1
six==1.12.0
future==0.17.1
sqlalchemy==1.3.3
tika==1.19
tqdm==4.32.1
spacy==2.1.3
scispacy==0.2.2
torch==1.1.0
py4j==0.10.8.1
python-dotenv==0.10.1
scikit-learn==0.21.2
matplotlib==3.0.2
seaborn==0.9.0
plotnine==0.5.1
umap-learn==0.3.9
pronto==0.12.2
mygene==3.1.0
xlrd==1.2.0
lxml==4.3.4
pyarrow==0.13.0
tables==3.5.2
interlap==0.2.6
unidecode==1.1.1
pytorch-ignite==0.2.0
torchtext==0.3.1
gensim==3.7.3
Click==7.0
dill==0.3.0
biopython==1.74
beautifulsoup4==4.8.0
dask==2.1.0
distributed==2.1.0
ipywidgets==7.5.1
xgboost==0.90
treelib==1.5.5
tensorboardX==1.8
pytorch-transformers==1.2.0
plotly
jupyterlab
